.footer{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100vw;
    background:black;
    font-size: 15px;
}

.footer_link{
    font-size: 15px;
    color:white;
    text-decoration: none;
}

.footer_link:hover{
    color: white;
    text-decoration: none;
    font-weight: bold;
}