@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.happy_diwali{
    margin-top: 20vh;
    width: 90vw;
    animation: 1s ease-out 0s 1 fadeIn;
}
